<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"  style="display:none;"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="aboutModalLabel">Impressum</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <small><i class="fas fa-times"></i></small></button>
            </div>
            <div class="modal-body">
                <!-- <div class="logo"></div> -->
                <h5 class="mt-3 mb-2"> Abstimmung.demokratiedirekt.info</h5>
                <p>Open Source (<a href="https://github.com/FelixDIREKTE/dda" target="_blank" rel="noopener noreferrer">Github</a>)</p>
                <p class="mb-4">Version 0.0.1</p>
                <p><small>
                    Demokratie DIREKT!<br>
                    Nonnenrain 2<br>
                    99096 Erfurt<br><br>
                    Telefon: (+49)15786581873<br>
                    E-Mail: <a href="mailto:diedirekte@posteo.de">diedirekte@posteo.de</a><br>
                    <a href="https://demokratiedirekt.info/" target="_blank" rel="noopener noreferrer">www.demokratiedirekt.info/</a>
                </small></p>



            </div>
        </div>
    </div>
</div>