<div class="modal fade" id="areusureModal" tabindex="-1" role="dialog" aria-labelledby="AreUSureLabel"  style="display:none;"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="AreUSureLabel">Bist Du sicher?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <small><i class="fas fa-times"></i></small></button>
            </div>
            <div class="modal-body">

                <div class="col">
                        <span class="float-right">
                            <button type="button" id="confirmdeletebtn" data-dismiss="modal"
                                    class="btn btn-outline-primary mt-3">
                                <i class="fas fa-trash-alt"></i>
                                Löschen
                            </button>
                            <button type="button" data-dismiss="modal"
                                    class="btn btn-outline-primary mt-3">Abbrechen
                            </button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>