<div class="login">
    <main class="d-flex justify-content-center align-items-center login-card-container">
        <div class="card login-card"> <!--um ganzen Bildschirm breite&höhe-->


            <div class="card-header">
                <div class="appTitle"> </div>
            </div>

            <!-- Login Body -->
            <div class="card-body" id="loginCardBody">
                <h5 class="card-title">Kennwort vergessen?</h5>
                <p class="mb-4">Kein Problem! Wir schicken dir ein neues Kennwort.</p>


                <div class="form-group">
                    <label for="passwordResetEmail">E-Mail </label>
                    <input type="email" id="passwordResetEmail" class="form-control">
                </div>


                <!-- Login Footer -->
                <div class="row mt-4">
                    <div class="col">
                        <button id="sendBtn" type="button"
                                class="btn btn-outline-primary w-100 mb-3">Senden
                        </button>
                    </div>
                    <div class="col">
                        <button id="cancelBtn" type="button"
                                class="btn btn-outline-primary w-100 mb-3">Abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div> <!-- close card -->
    </main>
</div> <!-- close login -->

<script src="../js/withoutLogin/forgotpassword.js"></script>
