<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" style="display:none;"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="aboutModalLabel">FAQ</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <small><i class="fas fa-times"></i></small></button>
            </div>
            <div class="modal-body">


                <p class="mb-0">Könnt ihr beweisen dass die Abstimmungsergebnisse nicht manipuliert sind?</p>
                <p class="mt-0"><small>Wir arbeiten daran. Unser Open-Source-Code zeigt, dass die Stimmen korrekt im Server abgegeben und ausgelesen werden.
                    Um ferner zu beweisen dass niemand anders als diese Anwendung Stimmen abgeben kann, planen wir, Stimmen als Blockchain zu speichern.
                Kurz gesagt bedeutet dass, dass jeder eine verifizierte Kopie anonymisierter Stimmen halten kann und so überprüfen kann dass die Summen mit den Zahlen auf dieser Webseite übereinstimmen.</small></p>

                <p class="mb-0">Frage</p>
                <p class="mt-0"><small>Antwort</small></p>


                <p class="mt-3"><small>
                    Andere Fragen? Kontaktiere uns per Email: <a href="mailto:diedirekte@posteo.de">diedirekte@posteo.de</a><br>
                </small></p>


            </div>
        </div>
    </div>
</div>