<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" style="display:none;"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="aboutModalLabel">FAQ</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <small><i class="fas fa-times"></i></small></button>
            </div>
            <div class="modal-body">


                <p class="mb-0">Frage</p>
                <p class="mt-0"><small>Antwort</small></p>

                <p class="mb-0">Frage</p>
                <p class="mt-0"><small>Antwort</small></p>


                <p class="mt-3"><small>
                    Andere Fragen? Kontaktiere uns per Email: <a href="mailto:diedirekte@posteo.de">diedirekte@posteo.de</a><br>
                </small></p>


            </div>
        </div>
    </div>
</div>