<div class="login htmlblocker" style="display:none;">
    <main class="d-flex justify-content-center align-items-center login-card-container">
        <div class="card login-card"> <!--um ganzen Bildschirm breite&höhe-->


            <div class="card-header">
                <div class="appTitle"> </div>
            </div>

            <!-- Login Body -->
            <div class="card-body" id="loginCardBody">

                <!-- Login Footer -->
                <div class="row mt-4">



                    <button id="registerBtn" type="button"
                            class="btn btn-outline-primary w-100 mb-3">Neuen Account erstellen
                    </button>

                </div>

                <div class="row mt-4">

                        <button id="loginBtn" type="button"
                                class="btn btn-outline-primary w-100 mb-3">Mit Account einloggen
                        </button>

                </div>
            </div>
        </div> <!-- close card -->
    </main>
</div> <!-- close login -->
<script src="../js/withoutLogin/loginorregister.js"></script>