<div role="main" class="container pb-100 mt-5">


    <div class="row mt-4" id="welcomeRow">
        <div class="col">
            <div class="card mb-4 shadowedcard" >
                <div class="card-body">
                    <h6 class="text-primary text-uppercase text-break mb-5">Willkommen bei Demokratie DIREKT!</h6>
                    <p>Du stehst nun kurz davor, selbst über Gesetze in deutschen Parlamenten abzustimmen.</p>
                    <p>Vorher müssen wir aber verifizieren dass Du ein echter, wahlberechtigter Mensch bist. Ergänze dazu bitte im <a>Benutzerkonto</a>
                        die geforderten Angaben. </p>
                    <p>Nachdem das erledigt ist, kannst du Parlamente, Gesetze, Initiativen und Diskussionen browsen, deine Stimme geben und
                        in den Kommentarsektionen deine Meinung mit der anderer Nutzer austauschen.
                        <b>Alle gewählten Abgeordneten der Demokratie DIREKT! sind verpflichtet, im Parlament für das Abstimmergebnis der Community zu stimmen!</b></p>

                </div>
            </div>


        </div>
    </div>


    <div class="row mt-4">
        <div class="col" id="parlContainer" style = "display:none;" >



            <div class="card mb-4 shadowedcard" id="parliamentCardTemplate">
                <div class="card-body">
                    <h6 class="text-primary text-uppercase text-break mb-5">Europäisches Parlament</h6>

                    <div class="col">
                        <span class="float-right">
                            <button type="button"
                                    class="btn btn-outline-primary mt-3 parltypebtn">Gesetze
                            </button>
                            <button type="button"
                                    class="btn btn-outline-primary mt-3 parltypebtn">Initiativen
                            </button>

                            <button type="button"
                                    class="btn btn-outline-primary mt-3 parltypebtn">Diskussionen
                            </button>

                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="row mt-4" id="moreParlRow">
        <div class="col">
            <div class="card mb-4 shadowedcard" >
                <div class="card-body">
                    <h6 class="text-primary text-uppercase text-break mb-5">Hinweis</h6>
                    <p>Weitere Parlamente werden an dieser Stelle erscheinen sobald die Partei Demokratie DIREKT! Freiwillige findet, um die Gesetze darin zu pflegen.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../js/template/parlamentauswahl.js"></script>
<script src="js/template/daterangepicker.js"></script>