<div role="main" class="container pb-100 mt-5">


    <div class="row mt-4" id="welcomeRow">
        <div class="col">
            <div class="card mb-4 shadowedcard" >
                <div class="card-body" id="somecard">
                    <h6 class="text-primary text-uppercase text-break mb-5">Willkommen bei Demokratie DIREKT!</h6>

                    <p>Auf dieser Seite kannst Du über alle Gesetze, die im Deutschen Bundestag entschieden werden, selbst abstimmen! Die Abgeordneten von Demokratie DIREKT werden im Parlament so abstimmen, wie es hier die Mehrheit entschieden hat. In Zukunft wird es möglich sein, hier auch über alle Gesetze aus dem Europaparlament, den Landtagen und Kommunal-Parlamenten abzustimmen.</p>
                    <p>Bringe gern auch Deine eigenen Initiativen ein! Das kannst Du machen, indem Du eigene Gesetzesvorschläge unter dem Button "Initiativen" hochlädst. Die Gesetzesvorschläge, die die meiste Zustimmung erhalten, werden von unseren Abgeordneten ins Parlament gebracht.</p>

                    <p id="sometext"></p>
                    <!--
                    <p>Nachdem das erledigt ist, kannst du Parlamente, Gesetze, Initiativen und Diskussionen browsen, deine Stimme geben und
                        in den Kommentarsektionen deine Meinung mit der anderer Nutzer austauschen.
                        <b>Alle gewählten Abgeordneten der Demokratie DIREKT! sind verpflichtet, im Parlament für das Abstimmergebnis der Community zu stimmen!</b></p>-->



                </div>
            </div>


        </div>
    </div>


    <div class="row mt-4">
        <div class="col" id="parlContainer" style = "display:none;" >



            <div class="card mb-4 shadowedcard" id="parliamentCardTemplate">
                <div class="card-body">
                    <h6 class="text-primary text-uppercase text-break mb-5">Europäisches Parlament</h6>

                    <div class="col">
                        <span class="float-right">
                                <a>
                                <button type="button"
                                        class="btn btn-outline-primary mt-3 parltypebtn"> Gesetze
                                </button>
                                </a>
                                <a>
                                <button type="button"
                                        class="btn btn-outline-primary mt-3 parltypebtn">Initiativen
                                </button>
                                </a>
                                <a>

                                <button type="button"
                                        class="btn btn-outline-primary mt-3 parltypebtn" >Diskussionen
                                </button>
                                </a>


                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!--div class="row mt-4" id="moreParlRow">
        <div class="col">
            <div class="card mb-4 shadowedcard" >
                <div class="card-body">
                    <h6 class="text-primary text-uppercase text-break mb-5">Hinweis</h6>
                    <p>Weitere Parlamente werden an dieser Stelle erscheinen sobald die Partei Demokratie DIREKT! Freiwillige findet, um die Gesetze darin zu pflegen.</p>
                </div>
            </div>
        </div>
    </div-->

</div>

<script src="../js/template/parlamentauswahl.js"></script>
<script src="js/template/daterangepicker.js"></script>