<div class="login">
    <!--<div class="container-fluid">-->
        <main class="d-flex justify-content-center align-items-center login-card-container">
            <div class="card login-card">
                <div class="card-header">
                    <div class="appTitle"> </div>
                </div>

                <!-- Login Body -->
                <div class="card-body" id="loginCardBody">



                    <div class="form-group">
                        <label for="loginEmailInput2">E-Mail </label>
                        <input type="email" id="loginEmailInput2" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="newPasswordInput">Kennwort</label>
                        <input type="password" class="form-control" id="newPasswordInput" aria-label="Kennwort">
                    </div>

                    <div class="form-group">
                        <label for="repeatNewPasswordInput">Kennwort wiederholen</label>
                        <input type="password" class="form-control" id="repeatNewPasswordInput" aria-label="Kennwort">
                    </div>

                    <div class="form-group custom-control custom-checkbox mb-4">
                        <input type="checkbox" class="custom-control-input" id="licencereadcheckbox">
                        <label class="custom-control-label bluelinks" for="licencereadcheckbox">
                            Ich habe die
                            <a href="/favicon.ico" download>
                                Datenschutzerklärung
                            </a>
                             gelesen und akzeptiere
                        </label>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                    <button type="submit" class="btn btn-outline-primary w-100 mb-3" id="loginBtn">Registrieren</button>
                        </div>
                        <div class="col">
                        <!--<label for="registerBtn">Zum ersten Mal hier?</label> -->
                        <button type="submit" class="btn btn-outline-primary w-100 mb-3" id="registerBtn">Einloggen</button>
                    </div> </div>
                </div>

            </div> <!-- close card -->
        </main>
    <!--</div>--> <!-- close container-fluid -->
</div> <!-- close login -->
<script src="../js/withoutLogin/register.js"></script>